In [3]:
%load_ext sql

In [5]:
%sql sqlite://

'Connected: @None'

In [7]:
%%sql 
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);

 * sqlite://
Done.
1 rows affected.
1 rows affected.

[]

In [8]:
 %sql select * from writer

 * sqlite://
Done.

[('William', 'Shakespeare', 1616), ('Bertold', 'Brecht', 1956)]